@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(255, 255, 255, 0.8);
  --foreground: #171717;
  --shine-color: rgba(0, 0, 0, 0.5);
}

.dark {
  --shine-color: rgba(255, 255, 255, 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0ab6;
    --foreground: #ededed;
    --shine-color: rgba(255, 255, 255, 0.8);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari å’Œ Opera */
}

li p {
  display: inline;
}
