@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(255, 255, 255, 0.8);
  --foreground: #171717;
  --shine-color: rgba(0, 0, 0, 0.5);
}

.dark {
  --shine-color: rgba(255, 255, 255, 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0ab6;
    --foreground: #ededed;
    --shine-color: rgba(255, 255, 255, 0.8);
  }
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: #0a0a0ab6 !important;
    /* 可选，用于定义字体样式 */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari 和 Opera */
}

li p {
  display: inline;
}
